// Place all the styles related to the theta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display: none !important;
}

.inline {
  display: inline !important;
}

#sphere {
  position: relative;
}

#toggle-edit-button {
  margin-right: 20px;
}

#edit-controls {
  display: inline;
}

#stroke-size-select {
  display: inline;
  font-size: 12pt;
}

.control-buttons {
  color: white;
  font-size: 20pt;
  position: absolute;
  top: 10px;
  left: 10px;
}

.control-button {
  cursor: pointer;
  display: inline;
}

.selected-mode {
  color: orange !important;
}
